

.footerSection {
    color: white;
    font-family: tiltNeon;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    background-color: black;
    padding: 10px 20px;
    width: 100%;

    .copyRigth {
        font-weight: bold;
    }

    .brandName {
        font-size: 22px;
        font-family: licorice;
        font-weight: bold;
        letter-spacing: 3px;
    }

}